<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style/main.css">
    <title>Home work</title>
  </head>
  <body>
    <main>
      <div>
    		<form method="post" action="/reg">

    				<h1>Регистрация:</h1>

            <input placeholder="Логин" type="text" name="login"><br>

    				<input placeholder="Фамилия" type="text" name="sname"><br>

    				<input placeholder="Имя" type="text" name="name"><br>

    				<input placeholder="Отчество" type="text" name="dadname"><br>

            <input placeholder="Серия-номер паспорта" type="text" name="pasport"><br>

            <input placeholder="Пароль" type="password" name="pass"><br>

    			<button type="submit" class="btn">Отправить</button>

    		</form>
      </div>
      <div>
    		<form method="post">

    				<h1>Войти:</h1>

            <input placeholder="Логин" type="text" name="login"><br>

            <input placeholder="Пароль" type="password" name="pass"><br>

    			<button type="submit" class="btn">Отправить</button>

    		</form>
      </div>
    </main>
  </body>
</html>
