<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="main.css">
    <script type="text/javascript" src="js.js">

    </script>
    <title>Home work</title>
  </head>
  <body>
    <main>
  		<form method="post" action="/user">

  				<h1>Регистрация:</h1>

          <input placeholder="Логин" type="text" id="login"><br>

  				<input placeholder="Фамилия" type="text" id="sname"><br>

  				<input placeholder="Имя" type="text" id="name"><br>

  				<input placeholder="Отчество" type="text" id="dadname"><br>

          <input placeholder="1234-567890" type="text" id="pasport"><br>

          <input placeholder="Пароль" type="text" id="pass"><br>

  			<button type="submit" class="btn">Отправить данные</button>

  		</form>
    </main>
  </body>
</html>
