<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Personal</title>
  </head>
  <body>
    <h1>Приветствую вас, </h1>
    <p>ФИО:</p>
    <p>Паспорт</p>
    <p></p>
  </body>
</html>
