<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <title>Home work</title>
  </head>
  <body>
    <main>
  		<form method="post" action="/person">

  				<h1>Регистрация:</h1>

          <input placeholder="Логин" type="text" name="login"><br>

  				<input placeholder="Фамилия" type="text" name="sname"><br>

  				<input placeholder="Имя" type="text" name="name"><br>

  				<input placeholder="Отчество" type="text" name="dadname"><br>

          <input placeholder="1234-567890" type="text" name="pasport"><br>

          <input placeholder="Пароль" type="text" name="pass"><br>

  			<button type="submit" class="btn">Отправить данные</button>

  		</form>
    </main>
  </body>
</html>
