body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
main{
  max-width: 1200px;
  margin: 10% auto;
  display: flex;
}
div{
  display: block;
  margin: 0 auto;
}
h1{
  font-size: 2.4em;
}
input[type="text"], input[type="password"]{
  padding: 3px 5px;
  margin: 10px 5px;
  font-size: 1.4em;
  padding-left: 10px;
  border:none;
  background-color: #fff;
  border-bottom: 1px solid #000;
}
.btn{
  margin-top: 7px;
  margin-left: 7px;
  background-color: #056FFC;
  padding: 8px 12px;
  font-size: 1.4em;
  color: white;
  border: none;
  border-radius: 5px;
}
